html {
  --base-color: #db9632;
  --bg-base-btn: #db9632;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

body {
  font-family: Poppins !important;
  background-image: url("../images/dots.png");
  background-size: auto;
  background-repeat: repeat;
  max-width: 100% !important;
  overflow-x: hidden !important;

  .btn-no-ring {
    box-shadow: none !important;
  }

  .input-no-ring {
    box-shadow: none !important;
  }

  .bg-base-color {
    background-color: var(--bg-base-btn) !important;
  }

  .learn-more-btn {
    border-radius: 2px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .learn-more-btn-sm {
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
  }

  a {
    text-decoration: none !important;
  }

  .text-base-color {
    color: var(--base-color);
  }

  ul {
    list-style-type: none;
  }

  .header-bar {
    hr {
      background-color: var(--base-color);
      width: 36px;
      height: 2px;
    }
  }

  .container-bg-image {
    width: 100%;
    height: 100%;

    background-image: url("../images/blur.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.4;
  }

  .container-bg-blur {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    margin-left: -15px;
  }

  .z-index-n1 {
    z-index: -1;
  }

  .z-index-1 {
    z-index: 1;
  }

  .z-index-2 {
    z-index: 2;
  }

  .card {
    border: none;
  }

  .custom-container {
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 1600px) {
      max-width: 84rem !important;
    }
  }

  .overflow-x-hidden {
    overflow-x: hidden !important;
  }

  .nav-link {
     color: whitesmoke;
  }

  .nav-link:hover {
    color: darkgray;
  }

  .dropdown-menu .nav-link {
    color: #7f7f7f !important;
  }

  .nav-link.active {
    color: var(--base-color) !important;
  }

  // text color

  .text-color-1 {
    color: #db9632;
  }

  .text-color-2 {
    color: #2f87a5;
  }

  .text-color-3 {
    color: #08fbf7;
  }

  .text-color-4 {
    color: #000D37;
  }

  // accent color
  .bg-color-1 {
    background-color: #000D37;
  }

  .bg-color-2 {
    background-color: #2f87a5;
  }

  .bg-color-3 {
    background-color: #08fbf7;
  }

  .bg-color-4 {
    background-color: #daf6ff;
  }

  .bg-color-5 {
    background-color: #db9632 !important;
  }
}

#home {
  #hero-container {
    background-image: url("../images/home/assets/Header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 200px !important;

    @media (max-width: 991px) {
      background-size: auto 100%;
      // background-position: right;
    }

    #hero {
      .hero-text {
        font-weight: 600;
        letter-spacing: -1px;
      }

      .hero-secondary-text {
        line-height: 1.8;
      }

      .play-btn-container {
        top: 240px;
        left: 90px;

        @media (max-width: 991px) {
          top: 0 !important;
          left: 0 !important;
          position: relative !important;
          margin-left: auto !important;
          margin-right: auto !important;
        }
      }
    }

    .hero-image {
      top: 0;
      right: -25%;
      transform: scale(0.8);
      transform-origin: top;
    }
  }

  #about {
    line-height: 1.5;

    .container-bg-image {
      width: 100%;
      height: 100%;

      background-image: url("../images/blur.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      opacity: 0.7;
    }

    .about-image {
      transform: scale(1.1);
    }

    .coin-left {
      left: -170px;
      top: 700px;

      @media (max-width: 991px) {
        display: none;
      }
    }

    .coin-right {
      right: -170px;
      top: 200px;

      @media (max-width: 991px) {
        opacity: 0.4;
        right: 50px !important;
      }
    }

    .video-container {
      video {
        width: 150px;
        height: 150px;

        @media (max-width: 991px) {
          width: 100px;
          height: 100px;
        }
      }
    }

    .navis-video {
      video {
        width: 100%;
        transform: scale(1.5);

        @media (max-width: 991px) {
          transform: scale(1);
        }
      }
    }

    .hero-boxes {
      margin-top: -124px;
    }
  }

  #projects {

    background-image: url("../images/home/assets/bg-middle.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .coin-right {
      right: -170px;
      top: 700px;

      @media (max-width: 991px) {
        display: none;
      }
    }

    .coin-left {

      left: -170px;
      top: 200px;

      @media (max-width: 991px) {
        display: none;
      }
    }

    .project-cards {

      .card {
        width: 320px;

        .card-body {
          height: 574px !important;

          .link-btn {
            width: 100%;
            bottom: 24px;
            left: 50%;
            transform: translate(-50%, 0);

            @media (max-width: 767px) {
              a {
                width: 100% !important;
              }
            }
          }
        }

        img {
          width: 320px;
          object-fit: cover;
        }
      }
    }

    .coin-logo {
      width: 100px;
      height: 100px;
      left: 50%;
      top: 0px;
      transform: translate(-50%, -50%);
    }

    @media (max-width: 767px) {
      .card {
        width: 100% !important;

        .card-img-top {
          width: 100% !important;
        }
      }
    }

    .owl-stage {
      .owl-item {
        height: 100% !important;
      }
    }
  }

  #industries {
    .industry-cards {
      .card {
        width: 350px;
        height: auto;

        img {
          width: 350px;
          height: 300px;
          object-fit: cover;
        }
      }
    }

    @media (max-width: 767px) {
      .card {
        width: 100% !important;

        .card-img-top {
          width: 100% !important;
        }
      }
    }
  }

  #medias {
    .media-cards {
      .card {
        width: 320px;
      }
    }

    @media (max-width: 767px) {
      .card {
        width: 100% !important;

        .card-body {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    }

    iframe {
      width: 100% !important;
    }
  }

  #community_participation {

    background-image: url("../images/home/assets/bg-bottom.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .container-bg-video {
      top: 50%;
      transform: translate(0, -50%);
    }

    img {
      width: 300px !important;
      height: 400px !important;
    }

    @media (max-width: 991px) {
      video {
        height: 800px !important;
        transform: scale(5);
      }
    }

    @media (max-width: 767px) {
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}

#about-us {

  #header {
    background-image: url("../images/bg-navigation\ bar.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 991px) {
      background-size: auto 100% !important;
    }
  }

  footer {
    background-image: url("../images/about_us/Assets/bg-footer.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  p {
    line-height: 2;
  }

  .coin-left {
    left: -50px;
    top: 330px;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .coin-right {
    right: -50px;
    top: 0;

    @media (max-width: 767px) {
      display: none;
    }
  }

  #next-generation {
    .coin-left {
      left: -150px;
      top: 100px;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  #constant-innovation-rate {
    .coin-right {
      right: -150px;
      top: 100px;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  #welcoming {
    .coin-right {
      right: -150px;
      top: 100px;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  #fully-developed {
    .coin-left {
      left: 80px;
      top: -100px;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  #system {
    background-image: url("../images/about_us/Assets/Abtbg-illustration.png");
    background-size: 100% auto;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
      p {
        color: #2f87a5 !important;
      }

      background: none;
    }
  }
}

#modals {
  #hero-video {
    .close-btn {
      @media (max-width: 991px) {
        width: 100% !important;
      }
    }

    .modal-content {
      background: rgba(0, 0, 0, 0.5) !important;
    }

    .bottom-text {
      font-size: 14px !important;
    }
  }
}

#team {
  .member {
    hr {
      width: 30px !important;
      height: 2px !important;
      background-color: #333333 !important;
    }

    @media (max-width: 991px) {
      width: 100% !important;
    }
  }
}

#media {

  #hero-container {

    .coin-right {
      right: -170px;
      top: 150px;

      @media (max-width: 991px) {
        display: none;
      }
    }

    .coin-left {

      left: -170px;
      top: 400px;

      @media (max-width: 991px) {
        display: none;
      }
    }

    #header {
      background-image: url("../images/bg-navigation\ bar.png");
      background-size: 100% auto;
      background-repeat: no-repeat;

      background-position: center;

      @media (max-width: 991px) {
        background-size: auto 100% !important;
      }
    }

    .welcome {
      margin-bottom: 0px !important;
    }

    .hero-text {
      font-size: 100px;
      font-weight: bold;

      @media (max-width: 991px) {
        font-size: 60px;
      }
    }

    .hero-image {
      transform: scale(1.5);
      left: 100px;
      top: 150px;

      @media (max-width: 991px) {
        transform: scale(1);
        left: 20%;
        transform: translate(0, -50%);
      }
    }
  }

  #content {

    background-image: url("../images/media/Assets/bg-media.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;

    .coin-right {
      right: -170px;
      top: 1000px;

      @media (max-width: 991px) {
        display: none;
      }
    }

    .coin-left {

      left: -170px;
      top: 300px;

      @media (max-width: 991px) {
        display: none;
      }
    }

    .socials {

      margin-top: 100px !important;

      @media (max-width: 991px) {
        margin-top: 100px !important;
      }

      p {
        margin-bottom: 0 !important;
      }

      .social-links {
        border-radius: 20px;
      }
    }
  }

  iframe {
    width: 100%;
    height: 400px;

    @media (max-width: 767px) {
      height: 300px !important;
    }
  }
}

#projects {

  line-height: 1.8;

  #hero-container {

    .coin-right {
      right: -170px;
      top: 150px;

      @media (max-width: 991px) {
        display: none;
      }
    }

    .coin-left {

      left: -170px;
      top: 400px;

      @media (max-width: 991px) {
        display: none;
      }
    }

    #header {
      background-image: url("../images/bg-navigation\ bar.png");
      background-size: 100% auto;
      background-repeat: no-repeat;

      background-position: center;

      @media (max-width: 991px) {
        background-size: auto 100% !important;
      }
    }

    .welcome {
      margin-bottom: 0px !important;
    }

    .hero-text {
      font-size: 100px;
      font-weight: bold;

      @media (max-width: 991px) {
        font-size: 60px;
      }
    }

    .hero-image {
      transform: scale(1.5);
      left: 150px;
      top: 150px;

      @media (max-width: 991px) {
        // position: relative !important;
        opacity: 0.4;
        // transform: scale(1);
        // left: 20%;
        // transform: translate(0, -50%);
      }
    }
  }

  #hero-sub {

    background-image: url("../images/projects/Assets/bg-projects\ 2.png");
    background-size: cover;
    background-repeat: no-repeat;

    .coin-right {
      right: -170px;
      top: 1000px;

      @media (max-width: 991px) {
        display: none;
      }
    }
  }

  #bitcoin {

    .coin-right {
      left: 70vw;
      bottom: 0px;

      @media (max-width: 991px) {
        display: none;
      }
    }
  }

  #troy {

    background-image: url("../images/projects/Assets/bg-projects\ 3.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #just-social {

    .coin-right {
      right: -170px;
      top: 150px;

      @media (max-width: 991px) {
        display: none;
      }
    }

    .coin-left {

      left: -170px;
      top: 700px;

      @media (max-width: 991px) {
        display: none;
      }
    }
  }

  #dnc {

    background-image: url("../images/projects/Assets/bg-projects\ 4.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #exchange {
    img.nft {
      transform: scale(1.2);
    }

    .coin-right {
      right: -170px;
      top: 1800px;

      @media (max-width: 991px) {
        display: none;
      }
    }

    .coin-left {

      left: -170px;
      top: 600px;

      @media (max-width: 991px) {
        display: none;
      }
    }
  }

  #blockchains {

    .coin-right {
      right: -170px;
      top: 500px;

      @media (max-width: 991px) {
        display: none;
      }
    }
  }

  .ledgerx-box {

    border-radius: 12px !important;
  }

  #scalable {

    .coin-right {
      right: -170px;
      top: 1800px;

      @media (max-width: 991px) {
        display: none;
      }
    }

    .coin-left {

      left: -170px;
      top: 600px;

      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}

#getting_involved {
  background-color: rgb(8, 28, 40);

  .blur-bg {
    width: 100%;
    height: 100%;
    background: rgba(22, 54, 63, 0.8);
    border-radius: 10px;
    border: 1px solid rgb(23, 68, 88);
  }

  .navigation {
    z-index: 100 !important;
  }


  .nav-link {
    color: whitesmoke !important;
  }



  .nav-link.dropdown {
    color: #838678 !important;
  }


  #hero {
    margin-bottom: 200px !important;

    .hero-video {
      width: 100%;
      height: 100%;
      left: 300px;

      video {
        width: 100%;
        height: auto;

        @media (max-width: 991px) {
          width: auto;
          height: 100%;
        }
      }

      @media (max-width: 991px) {
        left: -100px;
      }
    }

    @media (max-width: 991px) {
      background-size: auto !important;
      margin-bottom: 0px !important;
    }

    .hero-text {
      font-weight: 600;
      font-size: 60px !important;

      @media (max-width: 991px) {
        font-size: 40px !important;
      }
    }

    .hero-sub-text {
      color: rgb(8, 251, 247);
    }
  }

  #community {
    padding-bottom: 500px !important;

    @media (max-width: 991px) {
      padding-bottom: 200px !important;
    }

    .header-text {
      font-weight: 600;
    }

    .header-sub-text {
      color: rgb(8, 251, 247);
    }

    .bg-img-1 {
      top: 0;
      right: 0;

      img {
        height: 800px;
      }
    }

    .bg-img-2 {
      background-image: url("../images/BG-2-01.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      width: 100%;
      height: 100%;
      box-shadow: 0 -64px 64px 64px rgb(8, 28, 40) inset;
    }

    .bg-img-3 {
      width: 200px;
      height: 200px;
      top: 0;
      left: -100px;
    }

    .bg-img-4 {
      top: 500px;
      right: 100px;
    }

    .navis-video {
      margin-top: 150px;

      video {
        width: 100%;
        transform: scale(1.5);

        @media (max-width: 991px) {
          transform: scale(1);
        }
      }

      @media (max-width: 991px) {
        margin-top: 0 !important;
      }
    }
  }

  #programs {
    .header-text {
      font-weight: 600;
      font-size: 60px !important;
    }

    .header-sub-text {
      color: rgb(8, 251, 247);
    }

    .card {
      background-color: rgb(23, 55, 64);
      height: 344px;

      ol li {
        font-size: 14px;
      }

      ul {
        li {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      &.active {
        outline: 4px solid rgb(8, 251, 247);
        transition: outline 0.3s linear;
      }
    }

    .mb-30px {
      margin-bottom: 30px !important;
    }

    .bg-img-1 {
      top: 300px;
      left: 0;
    }

    .bg-img-2 {
      top: 500px;
      right: 20px;
    }
  }

  #full-width-images {
    .d-flex {
      img {
        width: 33.33vw;
      }
    }
  }
}

#general-terms-and-conditions {

  li {
    margin-bottom: 16px;
  }

  #content {
    ul {
      list-style-type: disc;
    }
  }
}
